<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.haulmont.pwacapsdemo/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.haulmont.pwacapsdemo.view.user/UserListView.title"/>
        <item view="CarAccidentCase.list"
              title="msg://com.haulmont.pwacapsdemo.view.caraccidentcase/carAccidentCaseListView.title"/>
        <item view="LocationWatcherView"
              title="msg://com.haulmont.pwacapsdemo.view.locationwatcher/locationWatcher.title"/>
    </menu>

</menu-config>